<div class="item">
  <input
    [id]="todoItem.description"
    type="checkbox"
    (change)="todoItem.done = !todoItem.done"
    [checked]="todoItem.done"
  />
  <label [for]="todoItem.description">{{ todoItem.description }}</label>

  <div class="btn-wrapper" *ngIf="!editable">
    <button class="btn" (click)="editable = !editable">Edit</button>
    <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
  </div>

  <!-- This section shows only if user clicks Edit button -->
  <div *ngIf="editable">
    <input
      class="sm-text-input"
      placeholder="edit item"
      [value]="todoItem.description"
      #editedItem
      (keyup.enter)="saveItem(editedItem.value)"
    />

    <div class="btn-wrapper">
      <button class="btn" (click)="editable = !editable">Cancel</button>
      <button class="btn btn-save" (click)="saveItem(editedItem.value)">
        Save
      </button>
    </div>
  </div>
</div>
